In [3]:
from difflib import SequenceMatcher

a = "I love Coding"
b = "I love Coding"

ratio = SequenceMatcher(None, a, b).ratio()

In [4]:
print(ratio)

1.0

In [5]:
#String compare in Python example
 
 
 
str_x = 'Hello & Welcome'
 
str_y = 'Hello & Welcome'
 
 
 
#comparing by ==
 
if str_x == str_y:
 
    print ("Same Strings")
 
else:
 
    print ("Different Strings")

Same Strings

In [6]:
str_input1 = input("Enter First String? ")
 
str_input2 = input("Enter Second String? ")
 
 
 
#comparing by != (not equal to)
 
if str_input1 != str_input2:
 
    print ("Both Strings are different!")
 
else:
 
    print ("You entered same strings!")

Enter First String? Heloo this is Zeelan how are you
Enter Second String? Heloo this is Zeelan how are you
You entered same strings!

In [ ]:
import pandas as pd

#create sample data
data = {'model': ['Lisa', 'Lisa 2', 'Macintosh 128K', 'Macintosh 512K'],
        'launched': [1983,1984,1984,1984],
        'discontinued': [1986, 1985, 1984, 1986]}

df = pd.DataFrame(data, columns = ['model', 'launched', 'discontinued'])
df

In [8]:
df[df['model'].str.contains('ac')]

            model  launched  discontinued
2  Macintosh 128K      1984          1984
3  Macintosh 512K      1984          1986

In [9]:
import pandas as pd
import numpy as np
 
df1 = {
    'State':['Arizona','Georgia','Newyork','Indiana','Florida'],
    'State_1':['New Jersey','georgia','Newyork','Indiana','florida']}
 
df1 = pd.DataFrame(df1,columns=['State','State_1'])
print(df1)

     State     State_1
0  Arizona  New Jersey
1  Georgia     georgia
2  Newyork     Newyork
3  Indiana     Indiana
4  Florida     florida

In [10]:
df1['is_equal']= (df1['State']==df1['State_1'])
print(df1)

     State     State_1  is_equal
0  Arizona  New Jersey     False
1  Georgia     georgia     False
2  Newyork     Newyork      True
3  Indiana     Indiana      True
4  Florida     florida     False

In [22]:
question = "Well, right now I'm upset. I felt like watching"
ques=pd.DataFrame([question],columns=['ques'])

In [23]:
print(ques.shape)
print(ques.columns)
ques

(1, 1)
Index(['ques'], dtype='object')

                                              ques
0  Well, right now I'm upset. I felt like watching

In [ ]:
question = input("Enter First String? ")
ques=pd.DataFrame([question],columns=['ques'])

In [ ]:
print(ques.shape)
print(ques.columns)
ques

In [ ]:
dfnew=pd.DataFrame()
dfnew1=pd.DataFrame()
dfnew['is_equal']= (df1['State']==ques['ques'])
dfnew1 = df1[df1['State']==ques['ques']]
print(df1)
print(dfnew)
print(dfnew1)

In [3]:
import pandas as pd
import numpy as np

firstProductSet = {'Product1': ['Computer','Phone','Printer','Desk'],
                   'Price1': [1200,800,200,350]
                   }
df1 = pd.DataFrame(firstProductSet,columns= ['Product1', 'Price1'])
print(df1)

secondProductSet = {'Product2': ['Computer','Phone','Printer','Desk'],
                    'Price2': [900,800,300,350]
                    }
df2 = pd.DataFrame(secondProductSet,columns= ['Product2', 'Price2'])
print (df2)

   Product1  Price1
0  Computer    1200
1     Phone     800
2   Printer     200
3      Desk     350
   Product2  Price2
0  Computer     900
1     Phone     800
2   Printer     300
3      Desk     350

In [4]:
df1['new column that will contain the comparison results'] = np.where(condition,'value if true','value if false')

NameError: name 'condition' is not defined

In [5]:
df1['pricesMatch?'] = np.where(df1['Price1'] == df2['Price2'], 'True', 'False')

In [6]:
print(df1)

   Product1  Price1 pricesMatch?
0  Computer    1200        False
1     Phone     800         True
2   Printer     200        False
3      Desk     350         True

In [7]:
import pandas as pd
import numpy as np

firstProductSet = {'Product1': ['Computer','Phone','Printer','Desk'],
                   'Price1': [1200,800,200,350]
                   }
df1 = pd.DataFrame(firstProductSet,columns= ['Product1', 'Price1'])


secondProductSet = {'Product2': ['Computer','Phone','Printer','Desk'],
                    'Price2': [900,800,300,350]
                    }
df2 = pd.DataFrame(secondProductSet,columns= ['Product2', 'Price2'])


df1['Price2'] = df2['Price2'] #add the Price2 column from df2 to df1

df1['pricesMatch?'] = np.where(df1['Price1'] == df2['Price2'], 'True', 'False')  #create new column in df1 to check if prices match
df1['priceDiff?'] = np.where(df1['Price1'] == df2['Price2'], 0, df1['Price1'] - df2['Price2']) #create new column in df1 for price diff 
print (df1)

   Product1  Price1  Price2 pricesMatch?  priceDiff?
0  Computer    1200     900        False         300
1     Phone     800     800         True           0
2   Printer     200     300        False        -100
3      Desk     350     350         True           0

In [8]:
df3 = df1.equals(df2)
print('Matches:', df3)

Matches: False

In [9]:
df3 = (df1 != df2).any(axis=None)
print('Differences in file:', df3)
df3 = (df1 != df2).any(1)
ne_stacked = (df1 != df2).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'col']
print('Differences In:')
print(changed)

ValueError: Can only compare identically-labeled DataFrame objects

In [10]:
df3 = df1.eq(df2)
print(df3.all())
#print(df3.all(axis=1))
df4 = df3.all(axis=1)
df4 = pd.DataFrame(df4, columns=['Columns'])
print(df4[df4['Columns']==False])

Price1          False
Price2           True
Product1        False
Product2        False
priceDiff?      False
pricesMatch?    False
dtype: bool
   Columns
0    False
1    False
2    False
3    False